.formulario {
  float: left;
  margin: 10px;
}

#zonaDibujo {
  float: right;
  border-style: double;
  height: 800px;
  width: 800px;
  margin: 10px;
}

#zonaDibujo div {
    float: left;
    border-width: thin;
    border-color: #AAAAAA;
}

.centrado {
  float: left;
  border-style: solid;
  border-width: thin;
  margin: 10px;
}

h3 {
  text-align: center;
}
