#zonaDibujo {
  height: 300px;
  width: 300px;
  border-style: double;
  overflow: scroll;
  padding: 0px;
}
#zonaDibujo div {
  border-style: dashed;
  border-width: thin;
  width: 30px;
  height: 30px;
  display: inline-grid;
  /* grid-template-columns: auto auto auto; */
}
