:root {
  font-size: 16px;
  font-family: 'Open Sans';
  --text-primary: #fafafa;
  --text-secondary: #ececec;
  --bg-primary: #666666;
  --bg-secondary: #aaaaaa;
  --color-icon: #DF49A6;
  --transition-speed: 600ms;
}
body {
  color: var(--text-primary);
  background-color: var(--bg-secondary);
}
